<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings file="secrets.config">
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="GitHub:BaseUrl" value="https://api.github.com"/>
  </appSettings>
  <system.web>
    <!-- Implement best practices from http://www.itsecure.hu/library/image/CIS_Microsoft_IIS_10_Benchmark_v1.0.0.pdf -->
    <!-- 3.3 Ensure custom error messages are not off (Scored) -->
    <customErrors mode="RemoteOnly"/>
    <!-- 3.6 Ensure 'httpcookie' mode is configured for session state (Scored) -->
    <sessionState cookieless="UseCookies"/>
    <!-- 3.7 Ensure 'cookies' are set with HttpOnly attribute (Scored) -->
    <httpCookies httpOnlyCookies="true" enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.7.2"/> <!-- TODO: Disable debug for production config -->
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store"/>
        <add name="Pragma" value="no-cache"/>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <!-- SECURITY HEADERS - https://securityheaders.io/? -->
        <!-- Protects against Clickjacking attacks. ref.: http://stackoverflow.com/a/22105445/1233379 -->
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!-- Protects against Clickjacking attacks. ref.: https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/HTTP_Strict_Transport_Security_Cheat_Sheet.md -->
        <!-- TODO: Switch to HTTPS and uncomment -->
        <!-- <add name="Strict-Transport-Security" value="max-age=31536000"/> -->
        <!-- Protects against XSS injections. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <!-- Protects against MIME-type confusion attack. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!-- CSP modern XSS directive-based defence, used since 2014. ref.: http://content-security-policy.com/ -->
        <add name="Content-Security-Policy" value="default-src 'self'; img-src 'self' *.githubusercontent.com"/> <!-- TODO: Double-check which avatar subdomains need whitelisting -->
        <add name="X-Content-Security-Policy" value="default-src 'self'; img-src 'self' *.githubusercontent.com"/>
        <!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/ -->
        <add name="Referrer-Policy" value="strict-origin"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Remove RESPONSE_Server">
          <match serverVariable="RESPONSE_Server" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlCustom="public, max-age=31536000"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!-- 3.4 Ensure IIS HTTP detailed errors are hidden from displaying remotely (Scored) -->
    <httpErrors errorMode="DetailedLocalOnly"/>
    <security>
      <!-- 4.4 Ensure non-ASCII characters in URLs are not allowed (Scored) -->
      <!-- 4.5 Ensure Double-Encoded requests will be rejected (Scored) -->
      <requestFiltering allowHighBitCharacters="false" allowDoubleEscaping="false">
        <!-- 4.2 Ensure 'maxURL request filter' is configured (Scored) -->
        <!-- 4.3 Ensure 'MaxQueryString request filter' is configured (Scored) -->
        <requestLimits maxUrl="4096" maxQueryString="2048"/>
        <verbs>
          <!-- 4.6 Ensure 'HTTP Trace Method' is disabled (Scored) -->
          <add verb="TRACE" allowed="false"/>
        </verbs>
        <!-- 4.7 Ensure Unlisted File Extensions are not allowed (Scored) -->
        <fileExtensions allowUnlisted="false">
          <!-- TODO: Remove more extensions that won't be used -->
          <add fileExtension="." allowed="true"/>
          <add fileExtension=".html" allowed="true"/>
          <add fileExtension=".htm" allowed="true"/>
          <add fileExtension=".css" allowed="true"/>
          <add fileExtension=".js" allowed="true"/>
          <add fileExtension=".png" allowed="true"/>
          <add fileExtension=".jpg" allowed="true"/>
          <add fileExtension=".jpeg" allowed="true"/>
          <add fileExtension=".bmp" allowed="true"/>
          <add fileExtension=".gif" allowed="true"/>
          <add fileExtension=".svg" allowed="true"/>
          <add fileExtension=".ico" allowed="true"/>
          <add fileExtension=".eot" allowed="true"/>
          <add fileExtension=".woff" allowed="true"/>
          <add fileExtension=".woff2" allowed="true"/>
          <add fileExtension=".otf" allowed="true"/>
          <add fileExtension=".ttf" allowed="true"/>
          <add fileExtension=".ttc" allowed="true"/>
          <add fileExtension=".pdf" allowed="true"/>
          <add fileExtension=".rss" allowed="true"/>
          <add fileExtension=".htc" allowed="true"/>
          <add fileExtension=".json" allowed="true"/>
          <add fileExtension=".xml" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>